{% extends 'base.html.twig' %}

{% block title %}Spa{% endblock %}

{% block body %}


    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="text-center m-5">Spa - HOTEL HOUSE</h1>
        </div>
    </div>

    {% endblock %}